/* Estilos generales */
body{
    background-color: blanchedalmond;
}
h1{
    color:brown;
    text-align: right;
}
h2{
    color:brown;
}
.lista1 li,.lista2 li{
    color:chocolate;
}
.lista3 ol li ol li{
    color:chocolate;
}
.lista3 ul li ul li{
    color:chocolate;
}


